@font-face {
	font-family: dicier-block;
	src: url("../fonts/Dicier-Block-Dark.otf") format("opentype");
	font-weight: 900;
}
@font-face {
	font-family: dicier-block;
	src: url("../fonts/Dicier-Block-Heavy.otf") format("opentype");
	font-weight: bold;
}
@font-face {
	font-family: dicier-block;
	src: url("../fonts/Dicier-Block-Light.otf") format("opentype");
	font-weight: normal;
}


@font-face {
	font-family: dicier-flat;
	src: url("../fonts/Dicier-Flat-Dark.otf") format("opentype");
	font-weight: 900;
}
@font-face {
	font-family: dicier-flat;
	src: url("../fonts/Dicier-Flat-Heavy.otf") format("opentype");
	font-weight: bold;
}
@font-face {
	font-family: dicier-flat;
	src: url("../fonts/Dicier-Flat-Light.otf") format("opentype");
	font-weight: normal;
}

@font-face {
	font-family: dicier-round;
	src: url("../fonts/Dicier-Round-Dark.otf") format("opentype");
	font-weight: 900;
}
@font-face {
	font-family: dicier-round;
	src: url("../fonts/Dicier-Round-Heavy.otf") format("opentype");
	font-weight: bold;
}
@font-face {
	font-family: dicier-round;
	src: url("../fonts/Dicier-Round-Light.otf") format("opentype");
	font-weight: normal;
}

@font-face {
	font-family: dicier-pixel;
	src: url("../fonts/Dicier-Pixel.otf") format("opentype");
	font-weight: normal;
}